<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.boot.mapper.ContactMapper">

	<select id="maxNum" resultType="int">
		select nvl(max(qa_upNo), 0) from qa_up
	</select>
	
	<insert id="insertData" parameterType="com.spring.boot.dto.QaContactDTO">
		insert into qa_con(qa_upNo, userId, userPwd, qSubject, qContent, ipAddr, hitCount, created )
		values(#{qa_upNo}, #{userId}, #{userPwd}, #{qSubject}, #{qContent}, #{ipAddr}, 0, sysdate)
	</insert>
	
	<select id="getDataCount" parameterType="hashMap" resultType="int">
		select nvl(count(*), 0) from qa_con
		where ${searchKey} like '%' || #{searchValue} || '%'
	</select>
	
	<select id="getList" parameterType="map" resultType="com.spring.boot.dto.QaContactDTO">
		select*from(
		select rownum rnum, data.* from(
		select qa_upNo, userId, qSubject, hitCount, to_char(created, 'YYYY-MM-DD') created
		from qa_con where ${searchKey} like '%' || #{searchValue} || '%'
		order by qa_upNo desc) data)
	<![CDATA[
		where rnum>=#{start} and rnum<=#{end}
	]]>
	</select>
	
	<update id="updateHitCount" parameterType="int">
		update qa_con set hitCount= hitCount+1 where qa_upNo =#{qa_upNo}
	</update>
	
	<select id="getReadData" parameterType="int" resultType="com.spring.boot.dto.QaContactDTO">
		select qa_upNo, userId, userPwd, qSubject, qContent, ipAddr, hitCount, created
		from qa_con where qa_upNo=#{qa_upNo}
	</select>
	
	<update id="updateData" parameterType="com.spring.boot.dto.QaContactDTO">
		update qa_con set userId=#{userId}, userPwd=#{userPwd},qSubject=#{qSubject},
		qContent=#{qContent} where qa_upNo=#{qa_upNo}
	</update>
	
	<delete id="deleteData" parameterType="int">
		delete qa_con where qa_upNo=#{qa_upNo}
	</delete>

</mapper>