<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>LoginPage</title>
</head>
<body>
  <h1>로그인 페이지</h1>
  <hr/>

  <input type="text" name="userId" id="userId" placeholder="Username"/><br/>
  <input type="password" name="userPwd" id="userPwd" placeholder="Password"/><br/>
  <button type="button" onclick="login()">로그인</button>
  <button type="button" onclick="location.href='http://localhost:8080/signupForm'"> 회원가입</button>
  <br><br>
  <a href="/findUserIdForm">아이디 찾기 </a>
  <a href="/findUserPwdForm">비밀번호 찾기</a>

</body>
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
    function login() {
        let loginObj = {};
        loginObj.userId = $('#userId').val();
        loginObj.userPwd = $('#userPwd').val();

        $.ajax({
            url: "/login.do",
            method: "POST",
            data:JSON.stringify(loginObj),
            contentType:"application/json; charset=utf-8",
            success : function(isResult) {
                if (isResult){
                    document.location = "/";
                } else {
                    alert("아이디, 비밀번호를 확인해 주세요.");
                }
            },
            error : function(xhr, status, error) {
                alert("로그인에 실패했습니다.");
                console.log(xhr);
                console.log(status);
                console.log(error);
            }
        });
    }
</script>
</html>